
https://www.perplexity.ai/search/0eafd6c8-1230-4d5d-9553-446ea1f18997

In [ ]:

#學生成績單

import numpy as np
import pandas as pd

scores = np.random.randint(50, 101, size=(50, 5))
scores_pd = pd.DataFrame(scores,columns=['國文','英文','數學','地理','歷史'],index=range(1,51))
scores_pd.T #欄/列對調

,1,2,3,4,5,6,7,8,9,10,...,41,42,43,44,45,46,47,48,49,50
國文,52,82,84,56,90,70,87,97,70,83,...,95,64,91,97,93,86,50,99,71,82
英文,67,81,96,81,60,66,55,76,100,73,...,74,64,53,63,53,97,72,91,68,77
數學,87,99,67,75,65,87,56,53,55,50,...,81,83,75,58,81,94,52,67,67,85
地理,66,98,64,83,91,58,62,60,79,58,...,77,52,84,93,59,68,80,74,79,52
歷史,78,89,76,51,68,50,53,69,71,81,...,61,59,77,86,66,55,58,60,89,98

In [3]:
scores_pd.index

RangeIndex(start=1, stop=51, step=1)

In [5]:
scores_pd.columns

Index(['國文', '英文', '數學', '地理', '歷史'], dtype='object')

In [6]:
scores_pd.index.name = "學號"
scores_pd.columns.name = "科目"
sum_value = scores_pd.sum(axis=1)
mean_value = np.mean(scores_pd,axis=1)

In [7]:
scores_pd['總分'] = sum_value
scores_pd['平均'] = mean_value

In [ ]:
scores_pd

In [ ]:
#排序
scores_pd1 = scores_pd.sort_values(by='總分',ascending=False)
scores_pd1

In [16]:
#排名
scores_pd1['排名'] = scores_pd1['總分'].rank(axis=0,method='min',ascending=False)

In [ ]:
scores_pd1
#scores_pd1.iloc[:5] #前5名
#scores_pd1.iloc[-5:] #後5名

### map(function(value))
- map ->所以有值得儲存格 -> 自訂function -> return value

## apply(function)
- apply ->Series(整行/整列) -> 自訂的function,參數是Series ->  return Series

In [ ]:
scores_pd1
scores_pd1.map(lambda v:float(v))

In [21]:
def calulate(s):
    #return 自訂的series
    custom_series = pd.Series([s.min(),s.max(),s.median(),s.std()],index=["最低分數","最高分數","中間值","標準差"])
    return custom_series
scores_pd1.iloc[:,:5].apply(calulate)

科目           國文          英文         數學         地理          歷史
最低分數  50.000000   50.000000  50.000000  52.000000   50.000000
最高分數  99.000000  100.000000  99.000000  98.000000  100.000000
中間值   73.000000   74.000000  75.000000  77.500000   76.000000
標準差   14.909852   15.080681  13.570391  13.563155   16.445941

In [28]:
def calulate1(s):
    #return 自訂的series
    s_bool = s < 60
    return s_bool.sum()

scores_pd1["不及格的課目"] = scores_pd1.iloc[:,:5].apply(calulate1,axis=1)

In [29]:
scores_pd1

科目  國文   英文  數學  地理   歷史   總分    平均    排名  不及格的課目
學號
2   82   81  99  98   89  449  89.8   1.0       0
35  99   89  75  78   94  435  87.0   2.0       0
19  77   90  91  77   98  433  86.6   3.0       0
27  95   81  74  94   76  420  84.0   4.0       0
40  87   82  79  94   70  412  82.4   5.0       0
17  90   93  92  57   79  411  82.2   6.0       1
33  69   77  97  91   76  410  82.0   7.0       0
30  73   86  74  77  100  410  82.0   7.0       0
23  83   65  76  84   97  405  81.0   9.0       0
36  56   94  79  85   90  404  80.8  10.0       1
12  85   67  70  88   90  400  80.0  11.0       0
46  86   97  94  68   55  400  80.0  11.0       1
29  68   96  56  91   87  398  79.6  13.0       1
37  86   62  82  88   79  397  79.4  14.0       0
44  97   63  58  93   86  397  79.4  14.0       1
50  82   77  85  52   98  394  78.8  16.0       1
48  99   91  67  74   60  391  78.2  17.0       0
16  73   50  90  77   98  388  77.6  18.0       1
41  95   74  81  77   61  388  77.6  18.0       0
3   84   96  67  64   76  387  77.4  20.0       0
34  60   69  76  80   99  384  76.8  21.0       0
38  65   91  61  93   70  380  76.0  22.0       0
43  91   53  75  84   77  380  76.0  22.0       1
24  82   97  78  54   65  376  75.2  24.0       1
39  58   57  84  80   97  376  75.2  24.0       2
14  79   84  78  78   56  375  75.0  26.0       1
9   70  100  55  79   71  375  75.0  26.0       1
49  71   68  67  79   89  374  74.8  28.0       0
5   90   60  65  91   68  374  74.8  28.0       0
26  56   90  54  97   76  373  74.6  30.0       2
15  70   50  94  86   65  365  73.0  31.0       1
28  88   54  66  96   57  361  72.2  32.0       2
21  61   60  77  63   98  359  71.8  33.0       0
18  62   74  74  53   94  357  71.4  34.0       1
32  69   55  58  76   98  356  71.2  35.0       2
8   97   76  53  60   69  355  71.0  36.0       1
31  50   91  90  65   58  354  70.8  37.0       2
45  93   53  81  59   66  352  70.4  38.0       2
20  62   54  64  72   99  351  70.2  39.0       1
1   52   67  87  66   78  350  70.0  40.0       1
4   56   81  75  83   51  346  69.2  41.0       2
10  83   73  50  58   81  345  69.0  42.0       2
13  53   75  70  66   80  344  68.8  43.0       1
25  55   86  54  94   52  341  68.2  44.0       3
6   70   66  87  58   50  331  66.2  45.0       2
42  64   64  83  52   59  322  64.4  46.0       2
7   87   55  56  62   53  313  62.6  47.0       3
47  50   72  52  80   58  312  62.4  48.0       3
11  72   62  52  73   50  309  61.8  49.0       2
22  52   54  61  66   56  289  57.8  50.0       3