https://www.perplexity.ai/search/94f7fc8c-0595-416f-b080-1e318bd7404d

requests
matplotlib
wget
numpy
pandas
openpyxl

In [10]:
!pip install requests

Requirement already satisfied: requests in /opt/conda/envs/myenv/lib/python3.10/site-packages (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/conda/envs/myenv/lib/python3.10/site-packages (from requests) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/envs/myenv/lib/python3.10/site-packages (from requests) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/conda/envs/myenv/lib/python3.10/site-packages (from requests) (2.4.0)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/envs/myenv/lib/python3.10/site-packages (from requests) (2025.4.26)

In [11]:
!pip install matplotlib

Requirement already satisfied: matplotlib in /opt/conda/envs/myenv/lib/python3.10/site-packages (3.10.3)
Requirement already satisfied: contourpy>=1.0.1 in /opt/conda/envs/myenv/lib/python3.10/site-packages (from matplotlib) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /opt/conda/envs/myenv/lib/python3.10/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /opt/conda/envs/myenv/lib/python3.10/site-packages (from matplotlib) (4.58.4)
Requirement already satisfied: kiwisolver>=1.3.1 in /opt/conda/envs/myenv/lib/python3.10/site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: numpy>=1.23 in /opt/conda/envs/myenv/lib/python3.10/site-packages (from matplotlib) (2.2.6)
Requirement already satisfied: packaging>=20.0 in /opt/conda/envs/myenv/lib/python3.10/site-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in /opt/conda/envs/myenv/lib/python3.10/site-packages (from matplotlib) (11.2.1)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/conda/envs/myenv/lib/python3.10/site-packages (from matplotlib) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in /opt/conda/envs/myenv/lib/python3.10/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /opt/conda/envs/myenv/lib/python3.10/site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)

In [12]:
!pip install wget

Requirement already satisfied: wget in /opt/conda/envs/myenv/lib/python3.10/site-packages (3.2)

In [13]:
!pip install pandas

Requirement already satisfied: pandas in /opt/conda/envs/myenv/lib/python3.10/site-packages (2.3.0)
Requirement already satisfied: numpy>=1.22.4 in /opt/conda/envs/myenv/lib/python3.10/site-packages (from pandas) (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/envs/myenv/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/envs/myenv/lib/python3.10/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/envs/myenv/lib/python3.10/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /opt/conda/envs/myenv/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [14]:
!pip install openpyxl

Requirement already satisfied: openpyxl in /opt/conda/envs/myenv/lib/python3.10/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /opt/conda/envs/myenv/lib/python3.10/site-packages (from openpyxl) (2.0.0)

In [15]:
!pip install numpy

Requirement already satisfied: numpy in /opt/conda/envs/myenv/lib/python3.10/site-packages (2.2.6)

In [16]:
import numpy as np
import pandas as pd

data = pd.Series(np.random.randn(9),
                index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                       [1, 2, 3, 1, 2, 3, 1, 2, 3]])
data

a  1   -0.176904
   2   -0.595288
   3   -0.290009
b  1   -0.085798
   2    1.816596
c  3    0.860098
   1   -0.151481
d  2   -0.136930
   3   -0.118981
dtype: float64

In [17]:
data['a']

1   -0.176904
2   -0.595288
3   -0.290009
dtype: float64

In [18]:
data['a'][2]

np.float64(-0.595288116679441)

In [19]:
data['a':'b']

a  1   -0.176904
   2   -0.595288
   3   -0.290009
b  1   -0.085798
   2    1.816596
dtype: float64

In [20]:
#Series->堆疊資料>(long data)
#2維資料->非堆疊資料>(width data)
data.unstack()

          1         2         3
a -0.176904 -0.595288 -0.290009
b -0.085798  1.816596       NaN
c -0.151481       NaN  0.860098
d       NaN -0.136930 -0.118981

In [21]:
data.index.names = ['key1','key2']
data.groupby(level='key1').sum()

key1
a   -1.062201
b    1.730798
c    0.708617
d   -0.255911
dtype: float64

### 使用unstack()時,(組合)索引不可以重複

In [ ]:
import numpy as np
import pandas as pd

data = pd.Series(np.random.randn(10),
                index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd','a'],
                       [1, 2, 3, 1, 2, 3, 1, 2, 3,1]])
#索引(a,1)重複了,無法做unstack
data.unstack()

In [24]:
import numpy as np
import pandas as pd

data = pd.Series(np.random.randn(10),
                index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd','a'],
                       [1, 2, 3, 1, 2, 3, 1, 2, 3,1]])
#索引(a,1)重複了,無法做unstack
#必需先groupby完後,才可以unstack
data.index.names = ['key1','key2']
data1 = data.groupby(level=['key1','key2']).sum()
data1.unstack()

key2         1         2         3
key1
a    -0.010765  0.661160 -0.072601
b     1.357146 -0.450675       NaN
c     0.735614       NaN -0.629594
d          NaN -0.089118  0.348054

In [23]:
frame = pd.DataFrame(np.arange(12).reshape((4, 3)),
                    index=[['a','a','b','b'],[1, 2, 1, 2]],
                    columns=[['台北','台北','台中'],['Green','Red','Green']])
frame.index.names = ['key1','key2']
frame.columns.names = ['縣市','顏色']
frame

縣市           台北        台中
顏色        Green Red Green
key1 key2
a    1        0   1     2
     2        3   4     5
b    1        6   7     8
     2        9  10    11

In [25]:
series1 = frame.stack(level=['縣市','顏色'],future_stack=True)
series1.unstack(level=['key1', '縣市'])

key1          a          b
縣市           台北   台中    台北    台中
key2 顏色
1    Green  0.0  2.0   6.0   8.0
     Red    1.0  NaN   7.0   NaN
2    Green  3.0  5.0   9.0  11.0
     Red    4.0  NaN  10.0   NaN

In [26]:
frame = pd.DataFrame(np.arange(12).reshape((4, 3)),
                    index=[['a','a','b','b'],[1, 2, 1, 2]],
                    columns=[['台北','台北','台中'],['Green','Red','Green']])
frame.index.names = ['key1','key2']
frame.columns.names = ['縣市','顏色']
frame

縣市           台北        台中
顏色        Green Red Green
key1 key2
a    1        0   1     2
     2        3   4     5
b    1        6   7     8
     2        9  10    11

In [27]:

frame.T.groupby(level='顏色').sum()

key1   a      b
key2   1  2   1   2
顏色
Green  2  8  14  20
Red    1  4   7  10